<h1 class="ad inline_block">Listing all ads</h1><br>
 <%= link_to 'New Pet', new_pet_path, class: "button success" %>
 <%= link_to 'New Doc', new_doc_path, class: "button success" %>
 <%= link_to 'New License Plate', new_license_plate_path, class: "button success" %>

<%= render 'content' %>
