<div class="row">
  <div class="small-8 large-8 large-centered small-centered columns">

    <h1>Editing doc</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @doc %> |
    <%= link_to 'Back', docs_path %>

  </div>
</div>
