<div class="row">
  <div class="small-12 large-6 large-centered small-centered columns ad">

    <h1>Editing doc</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @doc %> |
    <%= link_to 'Back', ads_docs_path %>

  </div>
</div>
