<div id="ads">
  <h3 style="text-align: center">Latest finds:</h3>
</div>

<table style="margin: auto">
  <thead>
  <tr>
    <th width="200">Finder</th>
    <th width="200">Title</th>
    <th width="200">Location</th>
    <th width="300">Description</th>
  </tr>
  </thead>
  <tbody><% @ads.each do |a| %>
  <tr>
    <td><%= "#{a.user.first_name} #{a.user.last_name}" %></td>
    <td><%= a.title %></td>
    <td><%= "#{a.city}, #{a.street}" %></td>
    <td><%= a.description %></td>
  </tr><% end %>
  </tbody>
</table>