<div class="row">
  <div class="small-12 large-6 large-centered small-centered columns ad">

    <h1>Editing license plate</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @license_plate %> |
    <%= link_to 'Back', ads_license_plates_path %>

  </div>
</div>
