<div class="row">
  <div class="small-8 large-8 large-centered small-centered columns">

    <h1>Editing license plate</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @license_plate %> |
    <%= link_to 'Back', ads_license_plates_path %>

  </div>
</div>
